* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #f8f6f6;
}

a {
    color: white;
    text-decoration: none;
}

.contaider {
    width: 90%;
    margin: auto;
}

/* Navigation */
.header {
    background-color: #f0a274;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    position: fixed;
}

.nav-main {
    width: 90%;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-brand {
    font-size: 20px;
}

.nav-main a:hover {
    color: #e0c7b8;
}

/* /Navigation */

/* Task */

.task-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    align-items: center;
    justify-items: center;
    padding: 90px;
}

.task {
    border: 1px solid black;
    border-radius: 4px;
    padding: 14px 0px;
    width: 248px;
    text-align: center;
    background-color: #e6a684;
}

.task-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 14px;
    padding-bottom: 6px;
    border-bottom: 1px solid black;
    text-align: center;
}

.task-body {
    padding: 0px 12px;
}

.task-body p {
    margin-bottom: 14px;
}

.task-actions {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.task-actions-btn {
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background-color: white;
    color: black;
    font-size: 15px;
    border: 1px solid black;
    margin:  10px 0px;
    border-radius: 15px;
}

/* /Task */

/* Form */

.form-container {
    width: 500px;
    margin: auto;
}

.form-title {
    margin-bottom: 22px;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 35px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-input {
    height: 32px;
    border: 1px solid black;
    border-radius: 4px;
}

.form-btn {
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #e6a684;
    color: black;
    font-size: 15px;
    border: 1px solid black;
    margin:  10px 0px;
    border-radius: 15px;
}

/* /Form */

